@font-face {
    font-family: "Distant Galaxy";
    src: url("../fonts/DISTGRG_.ttf");
}

@font-face {
    font-family: "Play";
    src: url("../fonts/Play-Bold.ttf");
}

:root {
    --red: #f5393a;
    --dark-red: #ec1f24;
}

body {
    font-family: "Play";
    margin-top: 11.5vw;
    background-image: url("../images/star.jpg");
    opacity: .75;
    font-size: 2vw;
}

h1 {
    font-family: "Distant Galaxy";
    background-color: var(--red);
    position: absolute;
    top: 1vw;
    font-size: 10vw;
    text-align: center;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0);
}

h2 {
    background-color: var(--red);
}

h4,
h5 {
    position: absolute;
    bottom: 4vw;
    color: white;
}

h4 {
    left: 8.5vw;
}

h5 {
    right: 6.5vw;
}

button {
    background-color: #eee;
    border: none;
    color: #000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    font-family: "Play";
    border-radius: 25px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 4vw;
    margin-top: 10vw;
}

#attack-btn {
    bottom: 5vw;
}

#retry a {
    text-decoration: none;
    color: black;
}

.character {
    float: right;
    margin: 20px;
    background-color: var(--dark-red);
    border-radius: 25px;
    text-align: center;
    overflow: hidden;
}

.character>p {}

.character>img {
    height: 20vw;
    width: auto;
}

div.hero:has(child),
div.opponent:has(child) {
    position: absolute;
    top: 45vw;
}

div.hero:has(child) {
    left: 15vw;
}

div.opponent:has(child) {
    right: 15vw;
}

#messages {
    background-color: var(--red);
    font-size: 3vw;
}

.hero,
.opponent {
    position: absolute;
    bottom: 5vw;
}

.hero {
    left: 5vw;
}

.opponent {
    right: 5vw;
}